<!doctype html>
<html>
<head>
<style>

table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.default_div { padding: 8px; }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
  <h1>
  <a class="action" href="/">Home</a>
  <a class="action" href="/recipe">Recipes</a>
  <a class="action" href="/cookbook">Cookbooks</a>
  <a class="action" href="/chef">Chefs</a>
  </h1>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
{% block content %}{% endblock %}
</section>
<script src="{{url_for('static', filename='sorttable.js')}}">
</script>
</html>
