{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Test Library - Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<form name"search_form">
  <select id="field_drpdwn">
    <option value="sat_test_id">SAT ID (2.5.1)</option>
    <option value="ref_id">ID (57)</option>
    <option value="description">Description (Upload)</option>
  </select>
  Search: <input type="text" id="search_txtbx"><br>
</form>

<button onclick="search_()">Search</button>


<table class="sortable" id="test_table">
  <tr>
    <th>ref_id</th>
    <th>sat_id</th>
    <th>description</th>
    <th>priority</th>
    <th>sys_impact</th>
    <th>admin_support</th>
    <th>ffa_applicable</th>
    <th>run_time</th>
    <th>sat_version</th>
    <th>subject</th>
    <th>notes</th>
    <th>state</th>
    <th>NetAct</th>
    <th>Radio</th>
    <th>id</th>
  </tr>
{% for tmp in tbl %}
  <tr>
    <td><a style="color:blue" class="action" href="/st_lib/detail/ref_id={{tmp.ref_id}}"><b>{{tmp.ref_id}}</a></td>
    <td>{{tmp.sat_id}}</td>
    <td>{{tmp.description}}</td>
    <td>{{tmp.priority}}</td>
    <td>{{tmp.sys_impact}}</td>
    <td>{{tmp.admin_support}}</td>
    <td>{{tmp.ffa_applicable}}</td>
    <td>{{tmp.run_time}}</td>
    <td>{{tmp.sat_version}}</td>
    <td>{{tmp.subject}}</td>
    <td>{{tmp.notes}}</td>
    <td>{{tmp.state}}</td>
    <td>{{tmp.NetAct}}</td>
    <td>{{tmp.Radio}}</td>
    <td>{{tmp.id}}</td>
  </tr>
{% endfor %}
</table>

<script>
function search_() {
  var fld = document.getElementById("field_drpdwn").value;
  var srch = document.getElementById("search_txtbx").value;
  var url_str = "/st_lib/search_result/field=" + fld + "&search_str=" + srch;
  location.replace(url_str)
}
</script>

{% endblock %}




