{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}AT&T NetAct SAT - NOKIA INTERNAL USE ONLY!!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="wrapper">
	<form name"usr_form" action="/login" method='POST'>
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password"/>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
{% endblock %}

