{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}TOL - Status: {{ tol_title }}{% endblock %}</h1>
{% endblock %}
{% block content %}
<form id="btn_form" action="/tol/{{tol_id}}/history" method='POST'>
<button id="enter_btn" type="submit" value={{ tol_id }}>View History</button>
</form>
<table class="sortable" id="test_status_table">
  <tr>
    <th>SAT ID</th>
    <th>Description</th>
    <th>Status</th>
    <th>Date</th>
    <th>NE Release</th>
    <th>NE ID</th>
    <th>Tester</th>
    <th>Test User</th>
    <th>Valdiation Comments</th>
    <th>SAT_Test_Scope_ID</th>
  </tr>
{% for tbl_tol in tbl %}
  <tr>
    <td>{{ tbl_tol.SAT_ID }}</td>
    <td>{{ tbl_tol.Description }}</td>
    <td class="{{ tbl_tol.Status }}">{{ tbl_tol.Status }}</td>
    <td>{{ tbl_tol.date }}</td>
    <td>{{ tbl_tol.ne_release }}</td>
    <td>{{ tbl_tol.NE_ID }}</td>
    <td>{{ tbl_tol.Tester }}</td>
    <td>{{ tbl_tol.Test_User }}</td>
    <td>{{ tbl_tol.Validation_Comments }}</td>
    <td>{{ tbl_tol.sat_test_scope_id }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}

