{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}TOL - Summary: {{ tol_title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="btn_form" action="/tol/{{tol_id}}/status" method='POST'>
<button id="enter_btn" type="submit" value={{ tol_id }}>View Details</button>
</form>

<div class="default_div"></div>

<table class="sortable" id="tol_table">
  <tr>
    <th>System</th>
    <th>Env</th>
    <th>Notes</th>
    <th>tol_id</th>
  </tr>
{% for tbl in tol_list %}
  <tr>
    <td>{{ tbl.site }}</td>
    <td>{{ tbl.env }}</td>
    <td>{{ tbl.notes }}</td>
    <td>{{ tbl.tol_id }}</td>
  </tr>
{% endfor %}
</table>

<div class="default_div"></div>

<table class="sortable" id="tol_summary_table">
  <tr>
    <th>NE Release</th>
    <th class="Passed">Passed</th>
    <th class="Failed">Failed</th>
    <th class="Open">Open</th>
    <th class="NT">NT</th>
    <th class="Blocked">Blocked</th>
    <th>Total</th>
    <th class="Removed">Removed</th>
  </tr>
{% for tmp in result_list %}
  <tr>
    <td>{{tmp.ne_release }}</td>
    <td class="Passed">{{ tmp.Passed }}</td>
    <td class="Failed">{{ tmp.Failed }}</td>
    <td class="Open">{{ tmp.Open }}</td>
    <td class="NT">{{ tmp.NT }}</td>
    <td class="Blocked">{{ tmp.Blocked }}</td>
    <td>{{ tmp.Total }}</td>
    <td class="Removed">{{ tmp.Removed }}</td>
  </tr>
{% endfor %}

</table>

<div class="default_div"></div>

<table class="sortable" id="tol_scope_table">
  <tr>
    <th>SW_Version</th>
    <th>SW_ID</th>
  </tr>
{% for tbl in tol_scope_list %}
  <tr>
    <td>{{ tbl.sw_version }}</td>
    <td>{{ tbl.sw_id }}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
