html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { display:table;width:100%; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.flashes { background: #cc0000; color: #FFFAF0;  }
.Passed { background: #32CD32; }
.Failed { background: #cc0000; }
.Open { background: #E6E600; }
.NT { background: #3399FF; }
.Blocked { background: #FF8C00; }
.Removed { background: #A9A9A9; }
.Depreciated { background: #A9A9A9; }
.Active { background: #3399FF; }
.content:last-child { margin-bottom: 0; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }

.error { width: auto; background: #ff0000; }
